$secondary: #fd8039;
$primary: #104b7a;
$info: #6e6864;
@import '../node_modules/bootstrap/scss/bootstrap';

$clr-lgrey: #f7f3f0;
$clr-dgrey: #e1dad5;
$clr-ddgrey: #bab2b5;

// FONTS

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-Heavy.woff2') format('woff2'),
		url('fonts/Avenir-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-Medium.woff2') format('woff2'),
		url('fonts/Avenir-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-Light.woff2') format('woff2'),
		url('fonts/Avenir-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// GENERAL

html,
body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	line-height: 1.6;
	padding: 0;
	margin: 0;
}

.avenir {
	font-family: 'Avenir';
}

.section-header {
	position: relative;
	font-size: 3.25rem;
	font-weight: 900;
	font-family: 'Avenir';
	color: $secondary;
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		width: 2em;
		height: 1px;
		left: 0;
		bottom: -0.2em;
		background: $secondary;
	}
}

.shadow {
	box-shadow: 0px 1px 10px rgba(97, 95, 95, 0.736);
}

//NAVBAR

#main-nav {
	background: white;

	box-shadow: 0px 0px 10px rgba(97, 95, 95, 0.541);
}
.nav-item {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 5%;
		bottom: 0.3em;
		width: 0%;
		height: 2px;
		background: $secondary;
		opacity: 0;
		transition: all ease 0.5s;
	}
	&:hover {
		&::after {
			width: 90%;
			opacity: 1;
		}
	}
}

//HEADER

#header {
	position: relative;
	background: url(../img/Portada-2.png);
	background-position: center center;
	background-size: cover;
	height: 90vh;
	max-height: 100vw;
	.container {
		height: 100%;
	}
}

.header-text {
	color: white;
	font-family: 'Avenir';
	font-size: clamp(2.5rem, 8vw, 10vh);
	padding: 2vw 0vw;
	letter-spacing: 0.2rem;
	span {
		line-height: 1;
		display: block;
	}
}

.header-title {
	font-size: clamp(2.5rem, 6vw, 8vh);
	font-weight: 900;
}

.header-title span:hover {
	transition: ease-in 0.2s;
	color: $secondary;
}
.header-lead {
	font-size: clamp(1.5rem, 5vw, 5vh);
	font-weight: 200;
}

// PERKS
#perks {
	//	background: linear-gradient(0deg, white 50%, $clr-lgrey 50%);
	background: $clr-lgrey;
}

.perks-box {
	background: white;
	padding: 1em 2em;
	margin: 0.1em auto;
	box-shadow: 0px 1px 10px rgba(97, 95, 95, 0.451);
}

.perks-box:hover {
	.perks-svg {
		fill: #ff6d19;
		transform: scale(1.2);
		transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
	}
}

.perks-svg {
	fill: #fd8039;
	transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}

// NOSOTROS

#nosotros {
	position: relative;
}

.nosotros-img-container {
	position: relative;
	width: 80%;
	height: 600px;
	overflow: hidden;
	@media (max-width: 739px) {
		height: 500px;
	}
}

.nosotros-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	@media (max-width: 739px) {
		display: none;
	}
}
.nosotros-box {
	position: absolute;
	left: 70%;
	top: 15%;
	height: 70%;
	width: 120%;
	background: $clr-lgrey;
	@media (max-width: 739px) {
		left: 5%;
		width: 190%;
		height: 100%;
		top: 0%;
	}
}

.nosotros

// PRACTICAS

#practicas {
	background: #e6e2dd;
}

.practica-container {
	position: relative;
	color: black;
	flex-basis: 30%;
	min-width: 300px;
}

.practica-img {
	z-index: 1;
	box-shadow: 0px 1px 10px rgba(97, 95, 95, 0.451);
}

.practica-header {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	font-size: 28px;
	font-style: none;
	z-index: 3;
	span {
		background: $secondary;
		padding: 0 5px;
	}
}

.practica-number {
	position: absolute;
	color: $secondary;
	top: -70px;
	left: 50px;
	font-size: 6.5rem;
	font-weight: 700;
	z-index: 2;
	text-shadow: 0 0px 6px rgba(97, 95, 95, 0.451);
}

@media (max-width: 739px) {
	.section-header {
		font-size: 3rem;
	}
}

// TEAM

#team {
	background: $clr-lgrey;
}

.team-container {
	position: relative;
	padding-bottom: 200px;
}

.card-team {
	position: absolute;
	bottom: 80px;
	left: 4%;
	width: 92%;
	background: white;
	padding: 20px 0;
}

.card .card-title {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 24px;
}
.card-subtitle {
	color: $secondary;
	padding-bottom: 10px;
}

[class*='flaticon'] {
	color: $secondary;
}

.team-img {
	filter: grayscale(100%);
	box-shadow: 0 0 10px #6e6864;
}

// CONTACT
#contact {
	position: relative;
	width: 100%;
	max-height: auto;
	color: white;
}

#contact::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url(../img/mapa-peru.png);
	background-color: rgba(0, 0, 0, 0.791);
	background-blend-mode: multiply;
	background-position: cover;
	filter: grayscale(100%);

	pointer-events: none;
}

.form {
	width: 100%;
}

.input-group {
	width: 100%;
	position: relative;
	height: 50px;
	overflow: hidden;
	margin-bottom: 20px;
	font-weight: 800;
	z-index: 100;
}

.form-input {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	border: none;
	outline: none;
	background: none;
}

.input-label {
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 2px solid $secondary;
	background: transparent;
}
.input-label::after {
	content: '';
	position: absolute;
	left: -100%;
	bottom: -2px;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid rgb(207, 207, 207);

	transition: 0.3s ease;
}

.input-label-content {
	position: absolute;
	top: 1em;
	left: 10px;
	transition: 0.3s ease;
}

.form-input:focus + .input-label::after,
.form-input:valid + .input-label::after {
	left: 0px;
}
.form-input:focus + .input-label .input-label-content,
.form-input:valid + .input-label .input-label-content {
	left: 0;
	top: 0;
	font-size: 14px;
	color: $secondary;
}

.form-message {
	height: 150px;
}

.contact-info {
	list-style: none;
}

.contact-item {
	position: relative;
	padding: 0.5rem 1em;
	display: flex;
	align-items: center;

	[class^='flaticon-']:after {
		font-size: 2rem;
		margin-right: 1rem;
	}
}

.contact-btn {
	position: relative;
	background: transparent;
	border: 2px solid $secondary;
	color: white;
	font-size: clamp(0.9rem, 1.5vw, 4vh);
	padding: 1.2rem 2.5rem;
	line-height: 0;
	font-weight: 800;
	width: auto;
	height: clamp(1.5rem, 5vw, 6vh);
	border-radius: 5px;
	z-index: 10;
	transition: ease-in 0.2s;
}

.contact-btn:hover {
	background: $secondary;
}

.contact-btn .pulse1,
.contact-btn .pulse2 {
	position: absolute;
	background: $secondary;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	backface-visibility: hidden;
	z-index: -1;
}

// FOOTER
#footer {
	background: #3f3e3e;
	a {
		text-decoration: none;
		color: white;
	}
}
.footer-ul {
	list-style: none;
	margin: 0;
}
.footer-brand {
	font-weight: 900;
}

// WHATSAPP

.wp {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #009688;
	//background: #25d366;
	box-shadow: 0 0 10px rgb(63, 62, 62);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.wp-svg {
	width: 35px;
}

.wp-dialog {
	position: absolute;
	height: 200px;
	width: 300px;
	right: 0px;
	top: 0;

	background: $clr-lgrey;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #3f3e3e;

	display: none;
	opacity: 0;
	cursor: default;
}

.wp-dialog::before {
	content: '';
	position: absolute;
	right: 20px;
	bottom: -8px;
	width: 0;
	height: 0;

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #ededed;
	filter: drop-shadow(0px 6px 3px #63636378);
}

.wp-header {
	padding: 0.7em 0.7em;
	// background: #075e54;
	background: #009688;
	//	background: #25d366;
	color: white;
	display: flex;
	align-items: center;
	justify-items: center;
	border-radius: 5px 5px 0 0;
}

.wp-logo-container {
	width: 38px;
	height: 38px;
	background: white;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wp-logo {
	width: 30px;
}
.wp-title {
	font-size: 18px;
	margin: 0 0 0 10px;
}

.message {
	color: #000;
	clear: both;
	line-height: 18px;
	font-size: 15px;
	padding: 8px;
	position: relative;
	margin: 15px 15px;
	max-width: 85%;
	word-wrap: break-word;
	box-shadow: 0 0 5px #3f3e3e88;
}

.message:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
}

.message.received {
	background: #fff;
	border-radius: 0px 5px 5px 5px;
	float: left;
}

.message.received:after {
	border-width: 0px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	top: 0;
	left: -10px;
	filter: drop-shadow(-3px 0 3px #8a8a8ac1);
}

.wp-write {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px 0;
	background: #ededed;
	border-radius: 5px;
}

.wp-input {
	margin: 10px 5px 10px 10px;
	padding: 5px 10px;
	width: 80%;
	border: none;
	background: white;
	border-radius: 50px;
	outline: none;
	font-size: 15px;
}

.wp-send {
	border: NONE;
	background: #009688;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	padding: 0 0;
	img {
		width: 15px;
		margin-right: 3px;
		margin-bottom: 2px;
	}
}

//                SERVICIOS
//////////////////////////////////////////
#practicas-full .practica-container {
	cursor: pointer;
	transition: 0.2s ease;
	&:hover {
		transform: scale(1.05);
	}
}

///////////////////////////////////////////
//             LISTA SERVICIOS
//////////////////////////////////////////

.rolldown-list ul {
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: none;
}

.rolldown-list li {
	padding: 1em;
	padding-left: 3em;
	margin-bottom: 0.125em;
	display: block;
	visibility: hidden;
}

.rolldown-list li:nth-child(2n + 1) {
	background-color: #f3f3fa;
}
